<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.pasechnik.ups2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Домклинер"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UPS2">
        <activity
            android:name=".getCleaning.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".getCleaning.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".getCleaning.DataTimeActivity"
            android:exported="true" />
        <activity
            android:name=".getCleaning.AdressActivity"
            android:exported="true" />
        <activity
            android:name=".getCleaning.DopUslugiActivity"
            android:exported="true" />
        <activity
            android:name=".getCleaning.GetCleaningActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".education.EducationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>